<!doctype htm>
<html>
<head>
	<title> Meadowlark Travel</title>
</head>
<body>
<style>
	.contain{
		margin:0 auto;
		text-align:center;
	}
</style>
<div class="contain">
	<header><img src='/img/1.bmp' alt='aaaaaa'/> </header>
	{{{body}}}
</div>
</body>
</html>